<footer class="l-section l-section--footer">
    <div class="l-section--content u-flex-container u-justify-content-between">
        <p class="u-paint-white-1">&copy; 2015 ARKENEA. All rights reserved.</p>
        <p class="u-paint-white-1">Designer - Prashant Dwivedi MADE WITH <span><img src="./static/img/heart.png" alt="heart icon"/></span> IN INDIA</p>
    </div>
</footer>
