<section class="l-section l-section--stories">
    <div class="l-section--content">
        <h2 class="u-text-uppercase">Our success stories</h2>
        <div class="o-stories u-flex-container u-justify-content-between u-wrap">
            <div class="o-story">
                <img src="./src/files/images/stories_1.jpg" alt="laptop computer">
                <p class="u-paint-lightGray-1">Sleep Easily downloaded over 400,000 times - generating consistent revenues.</p>
                <p><strong>Continue reading...</strong></p>
            </div>
            <div class="o-story">
                <img src="./src/files/images/stories_2.jpg" alt="business meeting">
                <p class="u-paint-lightGray-1">Canvsly featued on TechCrunch and winner of the Kiip Build Fund 2013 and Mom's Choice Awards.</p>
                <p><strong>Continue reading...</strong></p>
            </div>
            <div class="o-story">
                <img src="./src/files/images/stories_3.jpg" alt="laptop computer">
                <p class="u-paint-lightGray-1">Glenn Harrold,celebrity, hypnotherapist, crosses 2 million downloads for his apps.</p>
                <p><strong>Continue reading...</strong></p>
            </div>
        </div>
    </div>
</section>