<header class="l-header js-header">
    <button class="c-btn c-btn--hamburger js-burger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>  
    </button>
    <div class="l-section--content l-content--header js-content-header">
        <span>
            <img src="./static/img/logo.png"/>
        </span>
        <nav class="t-content">
            <ul class="u-flex-container u-text-uppercase">
                <li><a class="u-paint-white-1" href="#">Portfolio</a></li>
                <li><a class="u-paint-white-1" href="#">About</a></li>
                <li><a class="u-paint-white-1" href="#">Pricing</a></li>
                <li><a class="u-paint-white-1" href="#">Careers</a></li>
                <li><a class="u-paint-white-1" href="#">Blog</a></li>
                <li><a class="u-paint-white-1" href="#">Get a quote</a></li>
            </ul>
        </nav>
    </div>
</header>
