<section class="l-section">
    <div class="l-section--content l-section--contact">
        <h3 class="u-text-center u-text-uppercase u-paint-gray-1">Tell us about your requirement</h3>
        <div class="u-flex-container u-justify-content-between u-wrap">
            <form class="c-form--contact u-flex-container u-wrap js-form" action="">
                <p class="u-paint-gray-1 t-content-regular u-text-uppercase"><strong>Contact Us</strong></p>
                <input type="text" name="contact-name" placeholder="*Name" required>
                <input type="email" name="contact-email" id="" placeholder="*Your Email Address" required>
                <textarea name="contact-area" id="" placeholder="*Your message" required></textarea>
                <div class="error-message js-error--message"></div>
                <button class="c-btn u-paint-white-1 u-font-btn" type="submit">Submit</button>
            </form>
            <div class="l-contact--data">
                <p class="u-paint-gray-1 u-text-uppercase t-content-regular"><strong>Address</strong></p>
                <p class="u-paint-lightGray-1 u-text-uppercase t-content-medium">Arkenea LLC 47 S 2ND ST #152, SAN JOSE CA 95113, USA.</p>
                <p class="u-paint-gray-1 u-text-uppercase t-content-regular"><strong>Phone</strong></p>
                <p class="u-paint-lightGray-1 u-text-uppercase t-content-medium">(428) 350-1761</p>
                <p class="u-paint-gray-1 u-text-uppercase t-content-regular"><strong>Email</strong></p>
                <p class="u-paint-lightGray-1 u-text-uppercase t-content-medium">Contact@arkenea.com</p>
            </div>
        </div>
    </div>
</section>