<header class="l-header">
    <div class="l-section--content u-flex-container u-align-items-center u-justify-content-between">
        <span class="c-logo c-logo--main">
            <img src="./static/img/logo.png"/>
        </span>
        <nav class="t-content">
            <ul class="u-flex-container u-text-uppercase">
                <li><a class="u-paint-white-1" href="#">Portfolio</a></li>
                <li><a class="u-paint-white-1" href="#">About</a></li>
                <li><a class="u-paint-white-1" href="#">Pricing</a></li>
                <li><a class="u-paint-white-1" href="#">Careers</a></li>
                <li><a class="u-paint-white-1" href="#">Blog</a></li>
                <li><a class="u-paint-white-1" href="#">Get a quote</a></li>
            </ul>
        </nav>
        <div>
    </div>
</header>
