<div class="l-hero u-flex-container u-align-items-center">
    <div class="l-section--content">
        <h1 class="u-text-uppercase u-paint-white-1">Technical cofounders<br> to your mobile &<br> web startup</h1>
        <p class="u-paint-white-1 t-content-regular">To build a successful app, you need a smart<br> product strategy, engaging UX, killer design,<br> and a talented mobile development team.</p>
        <p class="u-paint-white-1 t-content-regular"><strong>GOOD NEWS</strong> - You've come to the right place</p>
        <form action="" method="post" class="c-form--hero u-flex-container">
            <input type="text"  placeholder="*Your email Address" required></input>
            <button type="submit" class="c-btn u-paint-white-1 u-font-btn">Request a Quote</button>
        </form>
    </div>
</div>