<section class="l-section l-section--testimonials u-flex-container u-align-items-center u-justify-content-center">
    <div class="l-section--content l-content--testimonials u-paint-white-1 u-text-center">
        <p class="t-content-regular">Arkenea thinks outside the box and offer solutions through the creative process of developing apps. They care about their customers.</p>
        <p class="t-content-regular"><strong>Hypnotherapist and Best Selling Author</strong></p>
        <p class="t-content-regular">-Glenn Harrold</p>

    </div>
</section>