/* ADJUSTED PROJECT HEADERS SIZES
   ========================================================================== */

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;

}
 
@include media("<=l") {
    h1 {
        font-size: 4.5rem;
    }
}

@include media("<=t") {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 3rem;
    
    }
}

@include media("<=m") {

    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.8rem;
    }

}

/* FONT-TYPES
   ========================================================================== */

.u-font-light {
    font-weight: 300;
}

.u-font-regular {
    font-weight: 400;
}

/* FONT-SIZES
   ========================================================================== */

.u-font-btn {
    font-size: 1.6rem;
}