/* Inner
   ========================================================================== */

.l-inner {
    position: relative;
    width: 100%;
    max-width: $size_inner;

    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
}

/* Header
   ========================================================================== */

.l-header {
    position: fixed;
    width: 100vw;
    
    transition: background 0.6s ease-in-out;
    margin-top: 4%;
    padding-top:15px;
    z-index: 100;

    @include media("<=t") {
        margin-top: 0;
    }
    
}

.l-header--scrolled {
    background: $color_black;
}

/* Sections
   ========================================================================== */

.l-section {
    width: 100%;
}

.l-section--content {
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

.l-section--stories {
    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
        position: relative;
        display: inline-block;

        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    h2::before {
        content:'';
        position:absolute;

        width:60px;
        height:4px;

        background:$color_lightGray;

        bottom:0;
        left:0;
        right:0;
    }
}

.l-section--testimonials {
    background-image: url("../../src/files/images/background_testimonials.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 350px;
}

.l-section--contact {
    padding-top:50px;
    padding-bottom:50px;

}

.l-section--footer {
    background-color: black;

    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}

/* Sections content differences
   ========================================================================== */

.l-content--header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    @include media("<=t") {
        flex-direction: column;
        justify-content: flex-start;
    }

    @include media("<=t-m") {
        background: $color_black;
        position: absolute;

        height: 100vh;
        width: 320px;
        max-width: 70%;

        padding: 75px 32px;

        top: 0;
        left: 0;
        transition: transform 0.3s ease-out;
        transform: translateX(-100%);

        ul{
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.l-content--testimonials {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom:40px;
}

.l-content--footer {
    @include media("<=m") {
        flex-direction: column;
    }
}

/* Page
   ========================================================================== */

.l-page {
    overflow: hidden;
}

.l-hero {
    width: 100vw;
    height: 100vh;

    background-image: url("../../src/files/images/background_hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Additional Containers
   ========================================================================== */

.l-contact--data {
    width:350px;

    text-align: right;
}

@include media("<=t-m") {
    
    .l-contact--data {
        width:100%;
        text-align: center;
    }
}